mixin config-panel(id = "")
  form.config-panel(id=id)

    fieldset.config-panel__flags
      legend.config-panel__flags-title Флаги
      label.config-panel__control
        span.config-panel__control-text Показать подсказки
        input.config-panel__input.js-config-panel__input(
          type="checkbox"
          name="tooltips"
          autocomplete="off"
        )
      label.config-panel__control
        span.config-panel__control-text Показать фоновую линию
        input.config-panel__input.js-config-panel__input(
          type="checkbox"
          name="bg-line"
          autocomplete="off"
        )

    fieldset.config-panel__view-name
      legend.config-panel__view-name-title Вид слайдера
      label.config-panel__control
        span.config-panel__control-text Горизонтальный
        input.config-panel__input.js-config-panel__input(
          type="radio"
          name="view-name"
          value="horizontal"
          autocomplete="off"
        )
      label.config-panel__control
        span.config-panel__control-text Вертикальный
        input.config-panel__input.js-config-panel__input(
          type="radio"
          name="view-name"
          value="vertical"
          autocomplete="off"
        )

    fieldset.config-panel__column
      legend Шкала
      label.config-panel__control
        span.config-panel__control-text Минимум
        input.config-panel__input.js-config-panel__input(type="number" name="min")
      label.config-panel__control
        span.config-panel__control-text Максимум
        input.config-panel__input.js-config-panel__input(type="number" name="max")
    
    .config-panel__row
      label.config-panel__control
        span.config-panel__control-text Шаг
        input.config-panel__input.js-config-panel__input(
          type="number",
          name="step"
          min=1,
          autocomplete="off"
        )
    
    .config-panel__row
      .config-panel__column
        label.config-panel__control
          span.config-panel__control-text Кастомные значения
        textarea.config-panel__input.js-config-panel__input(name="custom-scale" cols="30", rows="10")

    .config-panel__column
      ul.config-panel__values-inputs.js-config-panel__values-inputs
      button.config-panel__button(type="button" name="add-point") Добавить кругляш на слайдер
